
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Environment variables (confidential)
.env
.env.*
env/
*.env.local
*.env.staging
*.env.production